body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* videos 5 to 16 */

/*
.heading {
  color: #fa9119;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px #ffe9cf;
  margin: 70px 0px;
  font-family: "Lobster", cursive;
}
.img_div img {
  width: 250px;
  height: 300px;
}
.img_div {
  display: flex;
  justify-content: center;
} */

/* video 17 and 19*/

/* body{
  background-color: aqua;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  padding: 20px 20px;
  background-color: #ffe9c5;
  color : #fa9191;
  border-radius: 20px;
}

div{
  width: 100%;
  height : 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
span{
  color: #eb6383;
} */

/*netflix app video 23 ,24 ,24.1 ,24.2 ,25,26,27*/

/* body{
  background-color: rgb(146, 179, 179) ;
}

.heading_style {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: burlywood;
  background-color: rgb(150, 153, 153);
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-family: "Lobster", cursive;
}
.cards {
  width: 100%;
  height: auto;
}
.card {
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover {
  box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.card_img {
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card_info {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  padding: 16px 24px 24px 24px;
}
.card_category {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: rosybrown;
  background-color: white;
}
.card_title {
  margin: 5px;
  margin-bottom: 10px;
  font-family: sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button {
  padding: 5px 8px;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: thistle;
  background-color: rgb(221, 107, 107);
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
@media (max-width: 768px) {
  .card {
    float: none;
    margin: 5%;
    width: 90%;
  }
}   */

/* video 28 -> slot_machin */
/* 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;   
}
.heading_style{
  padding : 25px 0px;
  text-align: center;
  text-transform : uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  background-color:   #fff;
  font-size: 1.5rem;
  height: 5rem;
}

.slotMachine{
  margin-top: 40px;
  text-align: center;
  border: grey 4px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 3px ;
}

.slot_inner {
  text-align: center;
  font-size: small;
  margin: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
hr{
  outline: 1px solid grey;
} */

/* Hooks video 29,30,31 */
/* 
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #d2dbdd;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 46px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 60px;
  border-radius: 4px;
  font-weight: 600;
  background-color: rgb(243, 103, 243);
  color: white;
  border-style: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
}
button:active{
  color:wheat;
}
button:hover{
  font-size: 20px;
  background-color: rgb(255, 60, 255);
}  */

/* ==> 32 */

/* body {
  background-color: wheat;
}
div {
  width: 100%;
  height: 100vh;
  background: #a9a5aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 12px 20ppx;
  background: #9b59b6;
  color: white;
  border-radius: 5px;
  border: 2px solid #ecf0f1;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 180px;
  height: 50px;
}

button:hover {
  font-size: 20px;
  background-color: rgb(255, 60, 255);
}

button:active {
  color: wheat;
} */

/* ==>33,34,35,36*/

/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
  font-family: sans-serif;
}

div{
  width: 100vw;
  height: 100vh;
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  background: transparent;
  text-shadow: 0 2px 2px black;
}

input{
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
}

button
{
  line-height: 24px;
  padding: 0 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
 border-radius: 5px;
 text-transform: uppercase;
 cursor: pointer;
} */

/* 37 todo list */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.center_div {
  width: 30%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

h1 {
  color: whitesmoke;
  background: transparent;
  background-color: #8566bb;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566bb;
  outline: none;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566bb;
  color: whitesmoke;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: green;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566bb;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbdc2;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.todo_style .fa-times:hover {
  background-color: red;
}

@media (max-width: 786px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: whitesmoke;
    font-size: 30px;
  }
}

.main_div {
  width: 100%;
  height: 100vh;
  background-color: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 */

/* 38,39 */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.center_div {
  width: 30%;
  height: 30vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

h1 {
  color: whitesmoke;
  background: transparent;
  background-color: #8566bb;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

button {
  border-radius: 7%;
  border-color: transparent;
  background-color: #8566bb;
  color: whitesmoke;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

@media (max-width: 786px) {
  .center_div {
    width: 55%;
  }

  button {
    width: 40px;
    color: whitesmoke;
    font-size: 30px;
  }
}

.main_div {
  width: 100%;
  height: 100vh;
  background-color: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn_green:hover{
  color: green;
}

.btn_red:hover{
  color: red;
} */

/* video 40 for digital clock */

/* 
body{
  background-color: rgb(129, 136, 134);
} */

/* video 41 To do list with npm */
/* 
* {
  box-sizing: border-box;

  padding: 0;

  margin: 0;

  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div {
  width: 100%;

  height: 100vh;

  background: #7bed9f;

  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  text-align: center;
}

.center_div {
  width: 25%;

  height: 70vh;

  background-color: #f4f4f4;

  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);

  border-radius: 15px;
}

h1 {
  color: rgba(0, 0, 0, 0.87);

  font-size: 50px;

  margin-bottom: 30px;

  min-width: 64px;

  box-sizing: border-box;

  font-family: "Comfortaa", cursive;

  font-weight: 500;

  border-radius: 4px;

  letter-spacing: 0.02857em;

  text-transform: uppercase;

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

input {
  text-align: center;

  height: 30px;

  border: none;

  background: transparent;

  font-size: 20px;

  font-weight: 500;

  width: 60%;

  border-bottom: 2px solid #8566aa;

  outline: none;

  margin-right: 20px;
}

.newBtn {
  width: 50px;

  height: 55px;

  background-color: #16a085 !important;

  color: white !important;

  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

  border-radius: 50% !important;
}

.newBtn:hover {
  color: #16a085 !important;

  background: white !important;
}

.MuiSvgIcon-root {
  width: 2rem !important;

  height: 2rem !important;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;

  text-align: left;

  font-size: 20px;

  font-weight: 500;

  min-height: 40px;

  display: flex;

  align-items: center;

  color: #8566aa;

  text-transform: capitalize;

  list-style: none;
}

.todo_style {
  display: flex;

  flex-direction: row;

  justify-content: left;

  align-items: center;
}

.todo_style .deleteIcon {
  width: 25px;

  height: 25px;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: #8566aa;

  border-radius: 50%;

  margin: 0 15px 0 35px;

  padding: 5px;

  color: aliceblue;

  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .deleteIcon:hover {
  background-color: transparent;

  color: crimson;

  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}

.todo_style .fa-times:hover .list_style {
  color: crimson;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;

    display: flex;

    justify-content: center;

    align-items: center;
  }

  button {
    margin-left: 5px;

    min-height: 40px;

    width: 40px;

    color: #fff;

    font-size: 30px;
  }
} */

/* 43 Accordian */

/* .main_div {
  width: 100%;
  height: 100vh;
  background-color: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 30%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
} */

/* 45 google keep note*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "josefin Sans", "Arial Narrow";
}

.header {
  width: 100%;
  line-height: 100px;
  background-color: #f5ba13;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba (0, 0, 0, 0.3);
}
.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}

.my_notes h1 {
  color: #34495e;
}
.my_notes p {
  color: grey;
}

form {
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}
input {
  width: 100%;
  line-height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}

textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}

.MuiButton-root {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}

.MuiButton-root .plus_sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}

.MuiButton-root:hover {
  background: #f4b400 !important;
}
.MuiButton-root:hover .plus_sign {
  color: #fff;
  background: transparent;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;

  color: #f5ba13;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
}
.note .btn:hover {
  background-color: #f5ba13;
}

.note .btn:hover .deleteIcon {
  color: #fff;
}

footer {
  width: 100%;
  position: absolute;
  left: 90vh;
  margin-top: 300px;
} */

/* video 52,53,54 ,55 */

/* a.active_class{
  list-style: none;
  text-decoration: none; 
  color: red;
}
.menu_style{
  width: 100%;
  line-height: 60px;
  background-color: #666769;
  display: flex;
  justify-content: space-around;
}

.searchbar{
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.searchbar input{
  margin: 30px;
  padding: 5px 10px;
  border-radius:5px ;
  font-family: cursive;
}
 */
